@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .custom-navbar-nav ul li a {
        font-size: 1.5vw;
    }
}
/*
====================================
Medium Screen - Others
====================================
*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .custom-navbar-nav ul li a {
        font-size: 1.8vw;
    }
}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    .person-images img {
        max-width: 100%;
    }

    .topbar-wp .header-graphic img {
        max-width: 110px;
    }

    .custom-navbar-nav ul li a {
        font-size: 2vw;
    }
}

/*
====================================
Small Screen - Mobile
====================================
*/
@media screen and (min-width: 576px) and (max-width: 767px) {
    .nav-wrapper {
        position: fixed;
        left: -100%;
        top: 0;
        transition: 0.3s;
        z-index: 99;
        background: #1a1311;
        width: 60%;
    }

    .nav-wrapper.nav-active {
        left: 0;
    }
    .person-images img {
        max-width: 100%;
    }

    .topbar-wp .header-graphic img {
        max-width: 110px;
    }

    .custom-navbar-nav ul li a {
        font-size: 3vw;
    }
    .title h2 {
        font-size: 4vw;
    }

    .main-content {
        padding-left: 0;
    }
    .nav-wrapper img {
        margin: auto 0;
    }
}

/*
====================================
Xtra Small Screen - Small Mobile
====================================
*/
@media screen and (max-width: 576px) {
    .nav-wrapper {
        position: fixed;
        left: -100%;
        top: 0;
        transition: 0.3s;
        z-index: 99;
        background: #1a1311;
        height: 100vh;
        width: 85%;
    }

    .nav-wrapper.nav-active {
        left: 0;
    }
    .person-images img {
        max-width: 100%;
    }

    .topbar-wp .header-graphic img {
        max-width: 110px;
    }

    .custom-navbar-nav ul li a {
        font-size: 5vw;
    }
    .title h2 {
        font-size: 6vw;
    }

    .main-content {
        padding-left: 0;
    }
}
